.container{
    border: 2px solid black;
    background-color: red;
    color: white;
    width: 300px;
    height: 705px;
    position: fixed;
}
.head{
    position: absolute;
    top: 50px; 
    font-size: 50px;
}
.logo{
    position: relative;
    top: 78px;
    left: 1px;
}
.container ul{
    padding: 145px 10px;
}
.container li{
    list-style: none;
    padding: 12px 0px;
    margin: 16px 0px;
}
.container ul li a{
    text-decoration: none;
    color: white;
    font-size: 22px;
} 
.desgin{
    display: inline-block;
    font-size: 85px;
    margin: 135px 376px;
    padding: 0px 3px;
}
.showcase{
    color: red;
    display: inline-block;
    font-size: 45px;
    position: absolute;
    top: 252px;
    right: 953px;
}
.ine{
    background-color: rgb(6, 5, 5);
    border-radius: 10px;
    height: 15px;
    width: 93px;
    position: relative;
    right: 323px;
    bottom: 50px;
}
.container ul li a:hover{
    background-color: bisque;
    color: black;
}
.img{
    height: 350px;
    width: 530px;
    position: relative;
    left: 10cm;
}
.img2{
    height: 350px;
    width: 530px;
    position: relative;
    left: 10cm;
    
}
.img3{
    height: 350px;
    width: 530px;
    position: relative;
    left: 10cm;
}
.img:hover{
    border: 2px solid black;
    border-radius: 20px;
}
.img2:hover{
    border: 2px solid black;
    border-radius: 20px;
}
.img3:hover{
    border: 2px solid black;
    border-radius: 20px;
}
.Services{
    position: relative;
    left:375px;
    top: 45px;
    font-size: 45px;
    color: red;
}
.ine2{
    background-color: rgb(6, 5, 5);
    border-radius: 10px;
    height: 15px;
    width: 93px;
    position: absolute;
    top: 1580px;
    right: 1038px;
}
.serline{
    font-size: 20px;
    position: absolute;
    left: 383px;
    top: 1641px;
}
.designers{
    color: red;
    position: absolute;
    left: 383px;
    top: 1860px;
    font-size: 45px;
}
.hr{
    background-color: rgb(6, 5, 5);
    border-radius: 10px;
    height: 15px;
    width: 93px;
    position: absolute;
    top: 1926px;
    right: 1038px;
}
.serline2{
    font-size: 20px;
    position: absolute;
    top: 1985px;
    left: 383px;
}
.divdd{
    height: 291px;
    width: 1065px;
    position: absolute;
    left: 383px;
    top: 2155px;
}
.myimg{
    background-color: lightblue;
    position: relative;
    left: 533px;
    width: 532px;
}
.myimg img{
    height: 265px;
    width: 430px;
    position: absolute;
    top: -6px;
    left: 130px;
}
.Dushyant{
    font-size: 27px;
    display: inline-block;
    position: relative;
    top: 25px;
    left: 0px;
}
.ceo{
    display: inline-block;
    position: absolute;
    top: 85px;
    left: 0px;
}
.description{
    display: inline-block;
    height: 170px;
    width: 530px;
    position: absolute;
    top: 115px;
    left: 2px;
}
.alleee{
    border: 2px solid black;
    background-color: #a52a2a33;
    border-style: double;
    display: inline-block;
    height: 281px;
    width: 545px;
    position: absolute;
    left: 2px;
    top: -5px
}
.xyz{
    font-size: 45px;
    color: red;
    position: absolute;
    top: 2490px;
    left: 383px;
}
.ine22{
    background-color: black;
    border-radius: 10px;
    height: 15px;
    width: 93px;
    position: absolute;
    top: 2560px;
    right: 1040px
}
.contin{
    /*border: 3px solid black;*/
    height: 16cm;
    width: 1061px;
    position: absolute;
    top: 2640px;
    left: 386px;
}
.basic{
    /*border: 3px solid red;*/
    width: 520px;
    height: 15.9cm;
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: #00000014;
}
.pro{
    /*border: 3px solid blue;*/
    width: 520px;
    height: 15.9cm;
    display: inline-block;
    position:absolute;
    top: 0px;
    right: 0px;
    background-color: #00000014;
}
.basicrow{
    border: 0.1px solid black;
    background-color: #6f7275;
    height: 85px;
    font-size: 26px;
    border-top: 2px solid;
}
.basicrow2{
    border: 0.1px solid black;
    background-color: brown;
    height: 85px;
    font-size: 26px;
    border-top: 2px solid;
}
#row1 , #rowp{
    color: white;
    position: relative;
    top: 35px;
    left: 236px;
}
.floor{
    border: 0.1px solid black;
    height: 65px;
    font-size: 18px;
}
.floorplaning11 , .floorplaning22{
    position: relative;
    top: 25px;
    left: 212px;
}
.hour{
    border: 0.1px solid  black;
    height: 65px;
    font-size: 18px;
}
.support{
    position: relative;
    top: 25px;
    text-align: center;
}
.photo{
    border: 0.1px solid  black;
    height: 65px;
    font-size: 18px;
}
.graphy{
    position: relative;
    top: 25px;
    text-align: center;
}
.discount{
    border: 0.1px solid black;
    height: 65px;
    font-size: 18px;
}
.fur1{
    position: relative;
    top: 25px;
    text-align: center;
}
.good{
    border: 0.1px solid black;
    height: 65px;
    font-size: 18px;
}
.deals{
    position: relative;
    top: 25px;
    text-align: center;
}
.room{
    border: 0.1px solid black;
    height: 80px;
    font-size: 18px;
}
.wallpaper{
    position: relative;
    top: 20px;
    text-align: center;
}
.last{
    border: 0.1px solid black;
    height: 98px;
    font-size: 28px;
}
.btn{
    width: 517px;
    border: 2px solid rgb(17, 16, 16);
    background-color: #91959a;
    position: relative;
    top: 35px;
    text-align: center;
    left: 185px;
    border-radius: 55px;
    width: 4cm;
    cursor: pointer;
}
.btn2{
    width: 517px;
    border: 2px solid black;
    background-color: #c0a3a3;
    position: relative;
    top: 35px;
    text-align: center;
    left: 188px;
    border-radius: 55px;
    width: 4cm;
    cursor: pointer;
    
}
.btn:hover{
    color: white;
    background-color: dimgray;
}
.btn2:hover{
    color: white;
    background-color: red;
}